h1{
    color: red;

}
#hard{
    text-align: center;
    color: orangered;
    background-color: rgb(218, 162, 162);
}
#hexa{
    text-align: center;
    color: #0000ff;
    background-color: #ff0000;
}
#deci{
    text-align: center;
    color:  rgb(31, 31, 80);
    background-color: rgb(0, 255, 136);
}