*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: blue;
    color: white;
    font-style: italic;
}
.square{
    height: 200px;
    width: 200px;
    background-color: brown;
    border: solid 1px black;
    position: fixed;
    top: 0;
    left: 800px;
}
.rect{
    border: solid 1px black;
    height: 200px;
    width: 400px;
    background-color: aquamarine;
    position: sticky;
    top:0;
}
.cont{
    border: solid 1px black;
    height: 200px;
    width: 400px;
    background-color: seagreen;
    position: relative;
    z-index: -1;
    
}
.circle{
    border: solid 1px black;
    height: 100px;
    width: 100px;
    background-color: rgb(106, 139, 46);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}